LOGGER_LEVEL=info
LOGGER_AS_JSON=true

KAFKA_HOST=localhost
KAFKA_PORT=9092

CONSUMER_GROUP_ID=notification-service
ORDER_PAID_TOPIC_NAME=order-paid-events
SHIP_ASSEMBLED_TOPIC_NAME=ship-assembled-events

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
