GRPC_HOST=0.0.0.0
GRPC_PORT=50054

LOGGER_LEVEL=info
LOGGER_AS_JSON=true

POSTGRES_HOST=mc-postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=iam

REDIS_HOST=mc-redis
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

SESSION_TTL=24h
MIGRATIONS_DIR=./migrations

OTEL_EXPORTER_OTLP_ENDPOINT=otel-collector:4317
OTEL_SERVICE_NAME=iam-service
OTEL_ENVIRONMENT=production
OTEL_SERVICE_VERSION=1.0.0
