MONGO_IMAGE_NAME=mongo:7.0.5
MONGO_EXTERNAL_PORT=27018
MONGO_HOST=localhost
MONGO_DATABASE=inventory
MONGO_AUTH_DB=admin
MONGO_INITDB_ROOT_USERNAME=inventory_admin
MONGO_INITDB_ROOT_PASSWORD=inventory_secret