HTTP_HOST=localhost
HTTP_PORT=50052

INVENTORY_CLIENT_HOST=localhost
INVENTORY_CLIENT_PORT=50051

PAYMENT_CLIENT_HOST=localhost
PAYMENT_CLIENT_PORT=50053

IAM_CLIENT_HOST=localhost
IAM_CLIENT_PORT=50054

LOGGER_LEVEL=info
LOGGER_AS_JSON=true

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=order
POSTGRES_PASSWORD=order_secret
POSTGRES_DATABASE=postgres

KAFKA_HOST=localhost
KAFKA_PORT=9092
ORDER_TOPIC_NAME=order-paid-events
SHIP_TOPIC_NAME=ship-assembled-events
ORDER_CONSUMER_GROUP_ID=order-service

MIGRATIONS_DIR=./order/migrations

OTLP_ENDPOINT=localhost:4317