HTTP_HOST=0.0.0.0
HTTP_PORT=50052

INVENTORY_CLIENT_HOST=inventory
INVENTORY_CLIENT_PORT=50051

PAYMENT_CLIENT_HOST=payment
PAYMENT_CLIENT_PORT=50053

IAM_CLIENT_HOST=iam
IAM_CLIENT_PORT=50054

LOGGER_LEVEL=info
LOGGER_AS_JSON=true

POSTGRES_HOST=mc-postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=order

KAFKA_HOST=kafka
KAFKA_PORT=29092
ORDER_TOPIC_NAME=order-paid-events
SHIP_TOPIC_NAME=ship-assembled-events
ORDER_CONSUMER_GROUP_ID=order-service

MIGRATIONS_DIR=./migrations