HTTP_HOST=0.0.0.0
HTTP_PORT=50052

INVENTORY_CLIENT_HOST=inventory
INVENTORY_CLIENT_PORT=50051

PAYMENT_CLIENT_HOST=payment
PAYMENT_CLIENT_PORT=50053

LOGGER_LEVEL=info
LOGGER_AS_JSON=true

OTEL_EXPORTER_OTLP_ENDPOINT=otel-collector:4317
OTEL_SERVICE_NAME=order-service
OTEL_ENVIRONMENT=dev
OTEL_SERVICE_VERSION=1.0.0

POSTGRES_HOST=mc-postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DATABASE=order

KAFKA_HOST=kafka
KAFKA_PORT=29092
ORDER_TOPIC_NAME=order-paid-events
SHIP_TOPIC_NAME=ship-assembled-events
ORDER_CONSUMER_GROUP_ID=order-service

MIGRATIONS_DIR=./migrations