GRPC_HOST=0.0.0.0
GRPC_PORT=50053

LOGGER_LEVEL=info
LOGGER_AS_JSON=true

OTEL_EXPORTER_OTLP_ENDPOINT=otel-collector:4317
OTEL_SERVICE_NAME=payment-service
OTEL_ENVIRONMENT=dev
OTEL_SERVICE_VERSION=1.0.0
